<div class="recent-post p-3 border mb-4 "> 
    <p style="color: white;" class=" text-center">Latest Posts</p>
    <hr>
    <a href="/fbdown-for-downloading-facebook-reels">
      <div class="d-flex align-items-center">
        <img src="../images/Frontend/asset/images/6aa71c2b18f5627c149fb8c05c8a9eed.png"
          alt="Why We Recommend fbdown.blog for Downloading Facebook Reels" width="91" height="50"
          alt="recent blog">
        <p class="ps-2 text-break">Why We Recommend fbdown.blog for Downloading Facebook Reels  
            </p>
      </div>
    </a>
    <a href="/download-story-videos-from-facebook">
      <div class="d-flex align-items-center">
        <img src="../images/Frontend/asset/images/509de3cafc06fc22e574a33bfe069561.png"
          alt="Download Story Videos from Facebook Without Watermark" width="43%" height="50"
          alt="recent blog">
        <p class="ps-2 text-break">Download Story Videos from Facebook Without Watermark
        </p>
      </div>
    </a>
    <a href="/6-Best-facebook-hacks-in-2024">
      <div class="d-flex align-items-center">
        <img src="../images/Frontend/asset/images/a47125c0e73508f76bda47af5d37f8b1.png"
          alt="6-Best-facebook-hacks-in-2024" width="91" height="50" alt="recent blog">
        <p class="ps-2 text-break">6-Best-facebook-hacks-in-2024</p>
      </div>
    </a>
  </div>