<footer class="footer">
    <div class="container">
        <div class="footer-text">
            © <a href="/">FBDown</a> 2024 | All
            rights reserved
        </div>
        <div class="footer-text">
            

        </div>
        <div class="footer-text">
            <a class="anchor" href="/terms-and-conditions">Terms and Conditions</a>
        </div>
        <div class="footer-text">
            <a class="anchor" href="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="footer-text">
            <a class="anchor" href="/about-us">About Us</a>
        </div>
    </div>
</footer>