<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> FBDown.Blog - Our Privacy Policy</title>
  <meta name="title" content=" FBDown.Blog - Our Privacy Policy" />
  <meta name="description"
    content=" At FBDown.blog, we respect the privacy of your information and treat your personal data responsibly. This Privacy Policy explains the kind of information." />
    <meta name="robots" content="noindex, nofollow, max-image-preview:large">
    <link rel="canonical" href="/privacy-policy" />
    <!-- <link rel="alternate" href="es" hreflang="es" />
    <link rel="alternate" href="fr" hreflang="fr" />
    <link rel="alternate" href="id" hreflang="id" />
    <link rel="alternate" href="id" hreflang="id-id" />
    <link rel="alternate" href="pt" hreflang="pt" />
    <link rel="alternate" href="ru" hreflang="ru" />
    <link rel="alternate" href="tr" hreflang="tr" />
    <link rel="alternate" href="vi" hreflang="vi" />
    <link rel="alternate" href="de" hreflang="de" />
    <link rel="alternate" href="pl" hreflang="pl" /> -->
    
    <!-- Twitter Tages -->
  <meta name="twitter:card" content="fbdown.blog" /> 
  <meta name="twitter:site" content="https://fbdown.blog/privacy-policy" />
  <meta name="twitter:creator" content="https://fbdown.blog/privacy-policy" />
  <meta name="twitter:title" content="FBDown.Blog - Our Privacy Policy" />
  <meta name="twitter:description"
    content="At FBDown.blog, we respect the privacy of your information and treat your personal data responsibly. This Privacy Policy explains the kind of information." />
  <meta name="twitter:image" content="https://fbdown.blog/Frontend/asset/images/fb big.svg" /> 
  <!-- Facebook Tages -->
  <meta name="og:title" content="FBDown.Blog - Our Privacy Policy" />
  <meta name="og:description" content="At FBDown.blog, we respect the privacy of your information and treat your personal data responsibly. This Privacy Policy explains the kind of information." />
  <meta name="og:image" content="https://fbdown.blog/Frontend/asset/images/fb big.svg" />
  <meta name="og:url" content="https://fbdown.blog/privacy-policy" />
  <meta name="og:site_name" content="https://fbdown.blog/privacy-policy" />
  <meta name="og:locale" content="en" />
  <meta name="og:type" content="website" />
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favico-32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="../images/favico-16.png" />
<!-- <link rel="alternate" href="es/facebook-to-mp4" hreflang="es" />
<link rel="alternate" href="fr/facebook-to-mp4" hreflang="fr" />
<link rel="alternate" href="id/facebook-to-mp4" hreflang="id" />
<link rel="alternate" href="id/facebook-to-mp4" hreflang="id-id" />
<link rel="alternate" href="pt/facebook-to-mp4" hreflang="pt" />
<link rel="alternate" href="ru/facebook-to-mp4" hreflang="ru" />
<link rel="alternate" href="tr/facebook-to-mp4" hreflang="tr" />
<link rel="alternate" href="vi/facebook-to-mp4" hreflang="vi" />
<link rel="alternate" href="de/facebook-to-mp4" hreflang="de" />
<link rel="alternate" href="pl/facebook-to-mp4" hreflang="pl" /> -->
<link rel="alternate" href="/privacy-policy" hreflang="en" />
<link rel="alternate" href="/privacy-policy" hreflang="x-default" />
  <link rel="stylesheet" href="../css/main2.css">
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="stylesheet" href="../css/blog.css">
</head>

<body>

  <a class="close-navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </a>
  <%- include('navbar'); %>
  <header>

    <section class="py-5 pad">
      <h1 class="title titl  heading text-light text-center">
        Privacy Policy
      </h1>
    </section>
  </header>
  <div class="container py-3">
    <div class="row">

      <p>At FBDown.blog, we respect the privacy of your information and treat your personal data responsibly. This Privacy Policy explains the kind of information we collect, how we use it, and how we protect your information while you are accessing and using our services. Your use of FBDown.blog will mean you have accepted our practices as outlined here.

      </p>
      <h2 class="p-heading titl2">Who We Are</h2>
      <p>FBDown.blog is a service that lets you download Facebook videos, reels, stories, and MP3s. We do not have any relation with Facebook. Our website operates a safe and rapid service for downloading medias but is not operated or developed by us, content downloaded from our website.
      </p>
      <h2 class="p-heading titl2">Data Collected      </h2>
      <p>Fbdown is for everyone, but if you're under 18, make sure to get permission from your parents or guardians. We want to keep things safe and friendly for all users.
      </p>
      <h2 class="p-heading titl2">What You Can Do      </h2>
      <p>We only collect the bare minimum information to facilitate the working of our site and improve your visit to us. Some of the data that we might collect includes;
<h5>Personal Data:</h5>FBDown.blog does not necessitate you to sign up for an account or to provide any personally identifiable information like names, email addresses, or billing info.
<h5>Usage data:</h5>Every time you visit our website, we might gather some non-personal information such as an IP address, type of browser, pages visited and time spent on our site amongst other diagnostic data. This helps us improve our services and optimize the performance of our website.
      </p>
      <h2 class="p-heading titl2">Cookies and tracking technologies
      </h2>
      <p>FBDown. blog may use both session cookies and persistent cookies. A session cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time. You may remove persistent cookies by following directions provided in your browsers' "tools" or "preferences" sections. Both session cookies and persistent cookies have unique functions. Both are directed to our legitimate interests.
      </p>
      <h2 class="p-heading titl2">Our Content</h2>
      <p>All the content on FBDown, including blog, guides, and tools, is owned by us. You're free to use it, but please don't copy it or claim it as your own.
      </p>
      <h2 class="p-heading titl2">How We Use Your Information      </h2>
      <p>We collect the following information for these purposes:
<h5>Operate and maintain the FBDown.blog website.</h5> <h5>Monitor your activity with our services to improve their quality.</h5> <h5>Troubleshoot and solve technical issues.
</h5> <h5>We do not sell or rent your personal data to third parties for advertisement. Any data we might disclose to third-party analytics providers, etc., will be anonymized, merely for the purposes of improving our services.
</h5>
      </p>
      <h2 class="p-heading titl2">Third Party Services      </h2>
      <p>FBDown.blog may use third party services including analytics, advertising, etc for own operational functioning. Any third party services may collect and process data in accordance with their own privacy practices. While we respect your privacy concerns, we encourage you to look at their own privacy practices should you have concerns regarding the information used about you.      </p>
      <h2 class="p-heading titl2">Data Security      </h2>
      <p>The data is dealt with appropriate technical and organizational measures, but note that no online transmission or electronic storage system can be completely safe and secure. We do have the requirement to use industry-standard security protocols, but the absolute safety and security of your data cannot be guaranteed.  </p>
      <h2 class="p-heading titl2">Your Rights      </h2>
      <p>As a user of FBDown.blog, you have the rights regarding your data as follows:
        Access: You are entitled to request us for any copy of the data we collect about you.
        <h5>Correction: </h5>You can ask us to correct any inaccuracy or incompleteness in your data. <h5>Deletion: </h5>You have a right to request the deletion of your personal data, although we do not obtain any personal identifiers unless received explicitly from you.
        If you would like to exercise any of these rights, or have other questions about how we handle your privacy, please contact us at [email]. </p>
      <h2 class="p-heading titl2">Changes to This Privacy Policy      </h2>
      <p>FBDown.blog reserve the right to update this Privacy Policy at its sole discretion and from time to time. Updates will become effective here. We will post a new date of last modification at the top of this page. The best way to keep abreast of our practices concerning privacy is to check this page regularly.</p>
      <h2 class="p-heading titl2">Contact Us      </h2>
      <p>To raise any questions or concerns you may have on this Privacy Policy or how we treat your data, kindly address your message to [ Email].
        What's in this for you: By using FBDown.blog, you agree to our use as presented in this Privacy Policy. Thank you for choosing FBDown.blog as your trusted Facebook media downloader!</p>

    </div>
  </div>


  </div>
  </div>

  <%- include('footer'); %>
  <button class="p-4" onclick="topFunction()" id="myBtn" title="Go to top"></button>
  <script>

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
</body>

</html>